<%- include('../partials/header') %>
<div class="profile">
    <img class="ray" src="images/ray-cropped.png" alt="profile-pic" />
    <h2>Hello.</h2>
    <p>
      I am a self-taught Web Developer. My hobbies include coding,
      video games, and sports.
    </p>
  </div>
<%- include('../partials/footer') %>
