<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer src="/js/script.js"></script>
    <link rel="icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&family=Muli&family=Tajawal&display=swap"
      rel="stylesheet"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div class="appOuterContainer">
      <nav class="navBar">
        <a href="/"><h1>Logo</h1></a>
        <div class="linksContainer">
          <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="appInnerContainer">